<table class='table table-condensed record-short'>
  <tbody>
    <tr>
      <td class='image'>
        <div class='record img-circle'>
        </div>
      </td>
      <td class='link'>
        <%= favorite_widget @artist, favorite_artist_path(@artist) %>
        <%= link_to @artist.name, artist_path(@artist) %>
      </td>
    </tr>
  </tbody>
</table>

<div class='row'>
  <%= render 'form' %>
</div>
